@import './../../styles/variables.scss';

.codeEditor {
  display: flex;
  flex-direction: column;

  & :first-child {
    margin-bottom: 16px;
  }
}

.wrapper {
  max-width: 1200px;
  margin: auto;
  padding: 24px 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: min-content 1fr;
  gap: 24px;
}

.task {
  margin: 0 0 16px;
  grid-column: 1 / 3;

  &>h4 {
    margin-bottom: 8px;
  }
}

.resultOfTesting {
  background-color: $nice-blue;
  padding: 16px;
}