@import './../../styles/variables.scss';

.led {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
}

.led_group {
  display: grid;
  grid-template-columns: repeat(2, min-content);
  gap: 20px;
  justify-content: center;
}

@keyframes ligth-up {
  from {
    background-color: black;
  }

  50% {
    background-color: green;
  }

  to {
    background-color: black;
  }
}

.active {
  animation-name: ligth-up;
  animation-duration: 1s;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 16px;
}

.btn {
  width: 70px;
  align-self: flex-end;
  @include on-green-btn-hover
}